---
import Navegacion from "../pages/components/Navegacion.astro";
import Footer from "./components/Footer.astro";
const title = "Inicio|SupportjcOnline";
import "../layout/main.css"

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="@Julio_elias13"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter&display=swap"
      rel="stylesheet"/>
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <title>{title}</title>
  </head>
  <body>

    <!--Navegación  -->
    <Navegacion />


    <!-- Header seccion Principal -->
    <header>
      <div class="contenedor">
         
          <div class="text">
              <h1 class="tituloh">Descubre Tu Potencial con SupportjcOnline</h1>
              <p class="parrafo">
                Empoderamos tus metas a través de la educación. ¡Bienvenido a un
                viaje de aprendizaje sin límites
              </p>
              <a class="button" href="#enlace">Explorar cursos</a>
            </div>

     
      <div class="imag"></div> 
  
  </div>
  </header>

    <!--Contenido de la secciones -->
    
    
    
    
    <main>
     

      <!--contenedor GRID -->
    <section class="section-servicios">
        
      <div class="imagenes">
        
          <img class="img-grid1" src="/assets/Girl.jpg" alt="girl"loading="lazy" />
          <img  class="img-grid2" src="/assets/Reunion.jpg" alt="meet" loading="lazy"/>
          <img class="img-grid3" src="/assets/tiping.jpg" alt="computadora" loading="lazy"/> 
        </div>

        <div class="info">
          <h2 class="h-text"><span class="text-purple h-text">conocenos</span> Mejor</h2>
          <p>Bienvenido a nuestro sitio web de educación, donde creemos que el aprendizaje es un viaje de por vida que debe ser accesible para todos. 

            Nuestra misión es proporcionar recursos educativos de alta calidad y apoyo a personas de todas las edades, orígenes y habilidades.</p>
        </div>
      </section> 

      
      
 <h3 class="center  text-purple  top">Nuestros Servicios <br><span class="line"></span></h3>

      <h2 class="center title-section">Completo para tu Crecimiento personal</h2>
      <p class="center but">Guiándote hacia el <span>éxito</span> y ayudándote a alcanzar tu máximo<span> potencial.</span></p>
      
      <section>
        <div class="cards-info">
          
          <div class="card  animate__animated  animate__slideInDown">
            <img src="/assets/linea-del-tiempo.png" alt="imagen" width="100px" height="100px">
            <h4>updating</h4>
            <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, laborum?</p>
          </div>

          <div class="card  flex-top animate__animated  animate__slideInDown">
            <img src="/assets/certificado.png" alt="imagen" width="100px" height="100px">
            <h4>Certificado</h4>
            <p class="center">reconocimiento oficial con nuestros cursos online y asegura tu progreso con certificados verificables que validan tu dedicación y habilidades adquiridas</p>
          </div>

          <div class="card animate__animated  animate__slideInDown">
            <img src="/assets/linea-del-tiempo.png" alt="imagen" width="100px" height="100px"alt="imagen">
            <h4>updating</h4>
            <p class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, laborum?</p>
          </div>

        </div>
      </section>


      <section class="buttom-sect">
      <div class="contenedor-categorias">
        <div class="informacion">
        <h2  class="title-categorias" id="enlace">Descubre las <span>categorias</span> </h2>
        <p class="parrafo-cat">Descubre un amplio abanico de cursos tecnológicos en nuestra plataforma. Sumérgete en experiencias de aprendizaje enriquecedoras y expande tus conocimientos en el mundo de la Tecnologia</p>
        
      
      </div>

      <div class="tabla">
        <div class="categorias-cards">
          <img class="icono"  src="/assets/certificado.png" alt="imagen" >
          <h4>Diseño Grafico</h4>
        </div>
        <div class="categorias-cards color-">
          <img class="icono" src="/assets/Desarollo-web.png" alt="imagen" >
          <h4>Desarrollo web</h4>
        </div>
        <div class="categorias-cards color-">
          <img class="blanco icono" src="/assets/Analisis-datos.png" alt="imagen" >
          <h4>Analisis de Datos</h4>
        </div>
        <div class="categorias-cards">
          <img  class="icono"src="/assets/Arquitectura.png" alt="imagen" >
          <h4>Arquitectura</h4>
        </div>
    </div>

      </div>
      </section>
    </main>


<Footer/>
</footer>
  </body>
</html>
